/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;
}

.Link {
  color: inherit;
  text-decoration: none;
}

.navbar{
    margin: 0;
    padding: 2rem 0 1rem 0;
    height: 25vh;
    background-color: #ffad33;
}

.nav-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    /* width: 70vw; */
    margin: 0px auto;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffad33;
    padding: 0 0 2rem;
}

.logo{
    width: 80px;
    border-radius: 50%;
}

.nav_list_items{
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-size: 1.3rem;
}

.nav_list_items > li{
    margin: 0 1rem;
}

.nav_list_items > li > a {
    color: black;
    text-decoration: none;
}

.body-container{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* max-width: 1200px; */
    margin: 0px auto;
}

.restaurant-container{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}

.restaurant-list{
    display: flex;
    width: 1200px;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    border: 1px solid black;
    /* border-radius: 20px; */
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    width: 200px;
    height: 330px;
}

.card_img_container {
    overflow: hidden;
}

.card_img_container > img{
    width: 100%;
}

.shimmer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff7f8;
    padding: 100px; 
    /* flex-wrap: wrap; */
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: inline-block;
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }

.box {
  height: 104px;
  width: 100px;
  margin-top: 15px;
}

.line-container{
    display: inline-flex;
    flex-direction: column; 
    margin-left: 25px;
    margin-top: 15px;
    vertical-align: top; 
}

.lines {
  height: 10px;
  margin-top: 10px;
  width: 200px; 
}

.photo {
  display: block!important;
  width: 325px; 
  height: 100px; 
  margin-top: 15px;
}

.shimmer-right-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    /* background: #f6f7f8; */
    margin: 20px;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}

.menu {
    display: flex;
}

input.search-input{
    color: inherit;
    padding: 12px 10px;
    width: 25vw;
    border: none;
    outline: none;
}

.search-btn {
  position: relative;
    padding: 12px;
    color: #eee;
    font-size: 13px;
    background-color: #666;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 200ms ease-out;
    
    /* &:hover {
      background-color: $button-color;
    } */
}

/* CSS */
.login-button, .logout-button {
  background: #EF4765;
  border : 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.login-button, .logout-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.login-button, .logout-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.error-msg{
    width: 50%;
    margin: 4rem 0;
}

.error-msg > h1, h2, p, button {
    margin: 1rem 0;
}

.error-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Nunito Sans";
  font-size: 1em;
}